.resume {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f4f4f4;
  opacity: 0;
  transition: left .7s ease-out, opacity .7s ease-out;
  &.active {
    left: 477px;
    opacity: 1;
  }
  .content {
    position: relative;
    overflow: hidden;
    padding: 40px;
    .header {
      h2 {
        font-size: 22px;
	font-weight: bold;
	color: #021533;
	padding-bottom: 15px;
      }
      hr {
	height: 1px;
      }
    }
    .download-resume {
      background: #08aeac;
      color: #fff;
      width: 150px;
      height: 45px;
      line-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0 30px 0;
      a {
        color: #fff;
	font-size: 16px;
      }
    }
    .card-part {
      h3 {
        padding-left: 15px;
	border-left: 4px solid #08aeac;
	color: #08aeac;
	font-weight: bold;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	i {
	  font-size: 20px;
	  color: #08aeac;
	  margin-right: 5px;
	  &.icon-self-description {
	    padding-left: 3px;
	    padding-right: 4px;
	  }
	}
      }
      .self-description-box {
	padding-bottom: 20px;
        p {
	  line-height: 22px;
	  font-size: 12px;
	  text-align: justify;
	  text-indent: 28px;
	  padding-bottom: 10px;
	}
      }
      .work-content {
	padding-bottom: 20px;
	.title {
	}
	.intro {
	  display: flex;
	  justify-content: flex-start;
	  align-items: flex-start;
	  span {
	    display: inline-block;
	    font-size: 12px;
	    height: 22px;
	    line-height: 22px;
	    color: #313131;
	  }
	}
	.company {
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: flex-start;
	  padding-bottom: 10px;
	  &:last-child {
	    padding-bottom: 0;
	  }
	  .title {
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: flex-end;
	    h6 {
	      font-size: 14px;
	      font-weight: bold;
	    }
	    .date {
	      font-size: 12px;
	      color: #616161;
	    }
	  }
	  .intro {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    span {
	      font-size: 12px;
	      font-weight: bold;
	      margin: 5px 0;
	      &.column-split {
		display: inline-block;
	        width: 1px;
		height: 10px;
		background: #ccc;
		margin: 0 20px;
	      }
	    }
	  }
	  .des {
	    p {
	      line-height: 22px;
	      font-size: 12px;
	      text-align: justify;
	      text-indent: 28px;
	      padding-bottom: 10px;
	    }
	  }
	}
      }
      .education-box {
	border: 1px solid #ccc;
	padding: 15px;
	h4 {
	  font-size: 18px;
	  font-weight: bold;
	  color: #555;
	}
	.intro {
	  font-style: italic;
	  font-size: 12px;
	  color: #555;
	  display: inline-block;
	  padding-bottom: 3px;
	}
	.education-intro {
	  padding-top: 5px;
	  li {
	    display: flex;
	    justify-content: flex-start;
	    align-items: flex-start;
	    span {
	      font-size: 12px;
	      display: inline-block;
	      height: 100%;
	    }
	    .date {
	      display: inline-block;
	      height: 22px;
	      line-height: 22px;
	      padding-right: 10px;
	    }
	    .text {
	    }
	  }
	}
      }
    }
  }
}

