.home {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: red;
  .line {
    position: absolute;
    top: -6px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 6px;
    background: #021533;
  }
  .content {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
}

