.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    width: 470px;
    max-width: 470px;
    height: 570px;
    max-height: 570px;
    background: red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
}

